/*----------------------------INICIO Body-----------------------------------*/
.marcoPagina{
    background-color: nth($colores, 1);
    border-right-width: 10px;
    border-right-style: solid;
    border-right-color:  nth($colores, 3);
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color:  nth($colores, 3);
    border-top-width: $topReservado;
    border-top-style: solid;
    border-top-color: nth($colores, 3);
    border-bottom-width: 70px;
    border-bottom-style: solid;
    border-bottom-color: nth($colores, 3);
}
body{ /* Cuerpo de todas las páginas - Dejar siempre al inicio para poder pisar con otro más especifico*/
    background-color: nth($colores, 3);
    color: nth($colores, 2);
    text-shadow: nth($colores, 6) 0px 0px 3px;
    font-family: 'Patrick Hand', regular;
    text-align:justify;
} 
.mainDiv {
    /* margin-top: $topReservado; */
}
.marcoPagina__container-fluid__main {
    display:grid;
    grid-template-areas: 
    ". txtTit txtTit txtTit txtTit ."
    ". texto1 texto1 texto1 texto1 ."
    ". imagen1 imagen1 imagen1 imagen1 ."
    ". texto2 texto2 texto2 texto2 ."
    ". texto3 texto3 texto3 texto3 ."
    ". imagen2 imagen2 imagen3 imagen3 ."
    ". texto4 texto4 texto4 texto4 .";
    grid-template-columns: repeat(auto-fill);
    column-gap: 5%;
    row-gap: 2%;
    margin-top: $margenReservadoUp;
    margin-bottom: $margenReservadoBtm;
}

.txtTitulo{
    grid-area: txtTit;
}
.txtUno{
    grid-area: texto1;
}
.txtDos{
    grid-area: texto2;
}
.txtTres{
    grid-area: texto3;
}
.txtCuatro{
    grid-area: texto4;
}
.imgUnoMain{
    grid-area: imagen1;
}
.imgDos{
    grid-area: imagen2;
}
.imgTres{
    grid-area: imagen3;
}
.imgResponsive {
    width: 100%;
    height: auto;
    border: 1px solid nth($colores, 3);
}

.tablaUno{
    grid-area: tabla1;
    border: 1px solid nth($colores, 3);
}

main div {/*Bloques de informacion general*/
    padding: 0.1rem;    
}

.parrafo {
    color: nth($colores, 2);
}

.italica {
    color: black;
    font-style:italic;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
}

.img :hover{
    animation-name: rezizeImg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.imgUnoMain :hover{
    animation-name: rezizeImg2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/*----------------------------FIN Body-----------------------------------*/