/*---------------------------------------INICIO MEDIAQ----------------------------------------------*/

 @media only screen and (max-width: 768px){
    .marcoPagina {
        font-size:smaller;
    }

    h2{
        font-size: 3rem;
    }

    .marcoPagina__container-fluid__main {
        grid-template-areas: 
        "txtTit txtTit"
        "texto1 texto1"
        "imagen1 imagen1"
        "texto2 texto2"
        "texto3 imagen2"
        "imagen3 texto4";
        column-gap: 3%;
        row-gap: 1.5%;
        border-right-width: 10px;
        border-right-style: solid;
        border-right-color:  nth($colores, 1);
        border-left-width: 10px;
        border-left-style: solid;
        border-left-color:  nth($colores, 1);
    }

    .marcoPagina__container-fluid__contacto{
        display:grid;
        /* margin-top: $topReservado; */
        grid-template-areas:
        ". txtTitCont ."
        ". form ."
        ". contactos ."
        ". mapa .";
        column-gap: 3%;
        row-gap: 1.5%;
    }

    .container-fluid__adopcion{
        display:grid;
        grid-template-areas:
        ". txtTit ."
        ". texto0  ."
        ". imagen1 ."
        ". texto1 ."
        ". texto2 .";
        column-gap: 3%;
        row-gap: 1.5%;
    }

    .marcoPagina__container-fluid__hist{
        display:grid;
        /* margin-top: $topReservado; */
        grid-template-areas:
        ". txtTit ."
        ". imagen1 ."
        ". texto1 ."
        ". tabla1 .";
        column-gap: 3%;
        row-gap: 1.5%;
    }

    h3{
        font-size: 1.3rem;
    }

    .d-block{
        min-height: 165px;
        min-width: 165px;
        margin: auto;   
    }

    .imgUno {
        min-height: auto;
        min-width: auto;
    }
    .img :hover{
        animation-name: rezizeImgMediaQ;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .imgUno :hover{
        animation-name: rezizeImgMediaQ2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .recuadroVideo {
        padding: 2%;
    }
} 
@media only screen and (max-width: 576px){
    .marcoPagina {
        font-size: x-small;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1rem;
    }

    .container-fluid__mundo {
        display:grid;
        grid-template-areas: 
        ". txtTit ."
        ". texto0 ."
        ". imagen1 ."
        ". texto1 ."
        ". imagen2 ."
        ". texto2 ."
        ". imagen3 ."
        ". texto3 ."
        ". imagen4 ."
        ". texto4 .";
        grid-template-columns: repeat(auto-fill);
        column-gap: 3%;
        row-gap: 1%;
        margin-bottom: 6rem;
    }

    .marcoPagina__container-fluid__main {
        grid-template-areas: 
        "txtTit"
        "texto1"
        "imagen1"
        "texto2"
        "imagen2"
        "texto3"
        "imagen3"
        "texto4";
        grid-template-columns: repeat(auto-fill);
        column-gap: 2%;
        row-gap: 1%;
        border-right-width: 10px;
        border-right-style: solid;
        border-right-color:  nth($colores, 1);
        border-left-width: 10px;
        border-left-style: solid;
        border-left-color:  nth($colores, 1);
        margin-bottom: 6rem;
    }

    .marcoPagina__container-fluid__contacto{
        margin-bottom: 6rem;
    }
    .marcoPagina__container-fluid__hist{
        margin-bottom: 6rem;
    }

    .img {
        margin: auto;
    }

    .d-block{
        min-height: 100px;
        min-width: 100px; 
        margin: auto;   
    }

    .img :hover{
        animation-name: rezizeImgMediaQ;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .imgUno :hover{
        animation-name: rezizeImgMediaQ;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .recuadroVideo {
        padding: 1%;
    }

    .contact_form{  
        width: 270px; 
    }
      
    input{
        width: 260px; 
        height: 40px; 
    }
      
    textarea{
        background-color:white;
        width: 260px; 
        height: 100px; 
    }
      
    label{
        display: block; 
        float: center;  
    }
      
    button{
        height: 35px;
        width: 258px;
    }
}

/*---------------------------------------FIN MEDIA----------------------------------------------*/
