/*----------------------------INICIO Adopcion-----------------------------------*/

.container-fluid__adopcion{
    display:grid;
    grid-template-areas:
    ". txtTit  txtTit txtTit ."
    ". texto0  texto0 texto0 ."
    ". imagen1  texto1 texto1 ."
    ". texto2  texto2 texto2 .";
    grid-template-columns: repeat(auto-fill);
    column-gap: 5%;
    row-gap: 2%;
    margin-top: $margenReservadoUp;
    margin-bottom: $margenReservadoBtmAdop; 
}

.txtTitulo{
    grid-area: txtTit;
}

.txtUno{
    grid-area: texto1;
}

.txtDos{
    grid-area: texto1;
}

.imgUno{
    grid-area: imagen1;
}


/*----------------------------FIN Adopcion-----------------------------------*/