/*------------------------------Paleta de colores-------------------------------*/

$colores:
    #b3e1f8, /*-1-/--Color de fondo--*/
    #57538D, /*-2-/--Color de letra standard de parrafo--*/
    #3d3b61, /*-3-/--Color de letra Titulos y marco de pagina--*/
    #571637, /*-4-/--Color de sombra en letra Titulo--*/
    #836da0, /*-5-/--Color de sombra en letra Subtitlos--*/
    #99999b, /*-6-/--Color de sombra en letra Parrafos--*/
     /*--Tabla Historia--*/
    #7a98a7, /*-7-/--th--*/
    #dcf1fc; /*-8-/--td--y Fondo Formulario--*/

$topReservado: 6rem;
$margenReservadoBtmIndex: 13rem;
$margenReservadoBtmAdop: 6rem;
$margenReservadoBtm: 10rem;
$margenReservadoUp: 3%;

